/*
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Lato', sans-serif;
*/

:root {
  --main-bg-color: coral;
  --white: #fff;
  --grey: #8a8a8a;
  --link-blue: #9cb3ff;
}

/* fay code*/

.project-image-wrapper {
    vertical-align: top;
    display: inline-block;
    text-align: center;

    margin-bottom: 25px;
}


.caption {
  display: block;
  max-width: 300px;
  color: black;
  font-family: lato;
}

.project-preview {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  margin: 10px;

  opacity: 0.8;
}

.white-fill {
  padding-left: 10px;
  background-color: white;
}

.icon-img {
  height: 16px;
  width: 16px;

  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 2px;

}

.spacer {
  height: 50px;
}

#project-container {
  margin-bottom: 10vh;
  display: block;
  padding-bottom: 100px;

  margin-left: auto;
}

#bio-container{
  font-family: "Lato";
  font-size: 1.5em;
  margin: auto;
  max-width: 70%;
  padding-bottom: 100px;
}

/* end fay code */

.typewriter h1 {
  color: black;
  font-family: 'Quartzo', serif;
  white-space: pre-wrap; /* Keeps the content on a single line */
  font-size: 3.5em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid orange; /* The typwriter cursor */
  margin: 10 auto; /* Gives that scrolling effect as the typing happens */
  max-width: min-content;
  padding-top: 0px;
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(20, end),
    blink-caret .6s step-end 3;*/
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

/* end typewriter */

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #373737; */
  background-color: #FEF9DD;
  margin: 0;
  padding: 0 5%;
  cursor: default;
}

h1.headline {
  color: black;
  font-family: "Lato", serif;
  /* font-weight: 400; */
  font-weight: 800;
  font-size: 7em;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0.05em;
}

h2 {
  text-decoration: underline;
}

h2#current {
  margin: 2rem 0rem 0rem;
  font-family: Lato;
  font-size: 3em;
}

h2#past {
  margin: 0rem 0rem 1rem;
  font-family: Lato;
  font-size: 3em;
  justify-content: center;
}


a:hover {
  text-decoration: underline;
  text-decoration-color: orange;
  -webkit-text-decoration-color: orange;
  text-decoration-thickness: 5px ;
}

#articles a: link{
  color: lightcoral;
}

p,
ol {
  color: black;
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

p a {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Lato", sans-serif;
  font-size: 1em;
  text-decoration: none;
  text-decoration-style: lightcoral;
  text-decoration-thickness: 5px;
  color:  lightcoral;
}

p a:visited {
  color: lightcoral;
}

.no-style-link {
  color: black;
  text-decoration: none;
}

.no-style-link:hover {
  text-decoration: underline;
  text-decoration-color: lightblue;
  -webkit-text-decoration-color: lightblue;
}

#header {
  padding: 5% 0 2.5% 0;
  width: 80%;
  max-width: 750px;
  /* margin: auto; */
  /* border-left: 2px solid white; */
}

@media only screen and (max-width: 500px) {
  #header {
    margin: auto;
  }
}


.row {
  flex-direction: row;
  display: flex;
  width: 80%;
  max-width: 750px;
  justify-content: space-around;
  flex-wrap: wrap;
}

#row a{
text-align: left;
font-family: "Lato";
}


.top-link {
  color: inherit;
  margin-right: 1%;
}

.contact-info-icon-bar {
  display: flex;
  /* justify-content: center; */
}

.contact-info-icons {
  color: #292929;
}
